tr
  td(style="padding-top:30px; border-top:1px solid #eee; font-size:12px; color:#999; text-align:center; line-height:1.6;")
    | © #{new Date().getFullYear()} Enorth Logistics. All rights reserved.
    br
    | If you have any questions, contact us at 
    a(href="mailto:info@enorthlogistics.com" style="color:#2d6cdf; text-decoration:none;")
      | info@enorthlogistics.com